<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}>


<body class="layout-reverse sidebar-overlay">
</body>

<!--    <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>-->
<!--    <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>-->
<!--    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>-->
  </nav>

  <div class="sidebar-item">
    <p>
      <!-- &copy; {{ site.time | date: '%Y' }}. All rights reserved.-->
    </p>
  </div>
</div>
